{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TheOnlineTest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-loadmask-0.4/jquery.loadmask.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui-1.10.3/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/exam/home/">TheOnlineTest</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="timer_div" style="font-size:54px;line-height:77px;height:77px;" class="span6">
      </div>
      <h1 id="question_stats" class="pull-right">
      </h1>
    </div>
    <div class="container" id="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div id = "wrapper">
        <div class="hero-unit">
          <h1>Hi, {{user.first_name}} {{user.last_name}}</h1>
          {%if test_running %}
          <p>Seems like you were taking a test and didn't finish it. Click below to continue</p>
          <p><a href="#" class="btn btn-primary btn-large test_continue_btn">Continue my Test &raquo;</a></p>
          {% else %}
          <p>Click below to start taking TheOnlineTest</p>
          <p><a href="#" class="btn btn-primary btn-large test_continue_btn">Start Test &raquo;</a></p>
          {%endif %}
        </div>
      </div>
      <hr>
    </div> <!-- /container -->
    <div class="container">
    <footer>
      <p>&copy; TheOnlineTest 2013</p>
    </footer>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery-2.0.1.min.js' %}"></script>
    <script src="{% static 'jquery-ui-1.10.3/ui/minified/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery-loadmask-0.4/jquery.loadmask.min.js' %}"></script>
    <script src="{% static 'js/sprintf.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <script type="text/javascript">
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url)))
          {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
        }
      });
      $(function(){
        var test_ended = false;
        $container = $("#container");
        $wrapper = $("#wrapper");
        var move_forward = function(event){
          $container.mask('Loading...', 500);
          var data = {}
          if($wrapper.find('input[name=options]:checked').val())
            data.option_checked=$wrapper.find('input[name=options]:checked').val()
          $.post('/exam/continue_test/', data).done(function(response){
            var response = JSON.parse(response)
            $("#question_stats").html(sprintf("Solved: %d/%d", response.num_solved_questions, response.num_questions));
            var timer_end = function(){
              if (test_ended)
                return;
              test_ended = true;
              $wrapper.find('.test_continue_btn').button('enable');
              if($wrapper.find('input[name=options]'))
                setTimeout(move_forward, 1000);
            }
            var finish_time = eval(response.finish_time)
            $container.unmask();
            $container.hide({
              effect: 'slide',
              direction: 'left',
              complete: function(){
                (function(){
                  $("#timer_div").countdown_clear();
                  if(response.finished)
                  {
                    $wrapper.html(sprintf("<div class='hero-unit'><h2>Test Finished</h2><p>Congratuations! You finished your test. You scored %d marks in the test.", response.score))
                  }
                  else
                  {
                    formatted_question = sprintf("<div class='hero-unit'><h4>%s</h4><label class='radio'><input type='radio' name=options value=1>%s</label><label class='radio'><input type='radio' name=options value=2>%s</label><label class='radio'><input type='radio' name=options value=3>%s</label><label class='radio'><input type='radio' name=options value=4>%s</label><button class='btn btn-primary test_continue_btn pull-right' disabled>Next</button></div>", response.current_question.text, response.current_question.option_1, response.current_question.option_2, response.current_question.option_3, response.current_question.option_4);
                    $wrapper.html(formatted_question);
                    var msec = finish_time - new Date();
                    if(msec<=0)
                    {
                      timer_end();
                    }
                    else
                    {
                      var hh = Math.floor(msec / 1000 / 60 / 60);
                      msec -= hh * 1000 * 60 * 60;
                      var mm = Math.floor(msec / 1000 / 60);
                      msec -= mm * 1000 * 60;
                      var ss = Math.floor(msec / 1000);
                      $("#timer_div").countdown({
                        stepTime: 60,
                        format: 'hh:mm:ss',
                        startTime: sprintf("%02d:%02d:%02d", hh, mm, ss),
                        digitImages: 6,
                        digitWidth: 53,
                        digitHeight: 77,
                        timerEnd: timer_end,
                        image: "/static/img/digits.png"
                      });
                    }
                  }
                  $container.show({
                    effect: 'slide',
                    direction: 'right'
                  });
                })();
              }
            })
          });
        };
        $container.on('click', '.test_continue_btn', move_forward);
        $container.on('click', 'input[name=options]', function(event){
          $wrapper.find('.test_continue_btn').button('enable')
        });
      });
    </script>
  </body>
</html>
